.menuFotos li{float:left; text-align:center; margin-right:3px;}
.tablaCuentaCarrito .colDatosComprador{float:left; height:300px; width:260px}
.tablaCuentaCarrito .colDatosComprador input{display:block; width:250px; margin-bottom:10px; height:26px;}